{
  "presets": [
    "@babel/preset-env", //compiling ES2015+ syntax
    ["@babel/preset-react", { "runtime": "automatic" }], // for react
    "@babel/preset-typescript" // ts
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-jsx-development",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-arrow-functions"
  ]
}
